<section class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{post_name}}</h5>
        <p class="card-text">{{contents}}</p>
        <a href="#" class="btn btn-primary">{{user_id}}</a>
    </div>
</section>