<section class="card my-2 mx-3">
    <div class="card-body">
        <h5 class="card-title">{{post_name}}</h5>
        <p class="card-text">{{contents}}</p>
        <a href="#" class="btn btn-primary">{{user.username}}</a>
    </div>
</section>