<section class="card my-2 mx-3">
    <div class="d-flex flex-column card-body">
        <h5><input class="postTitle" type="text" placeholder="(Edit Title)" value="{{post.post_name}}"></h5>
        <textarea class="postContents" placeholder="(Edit Contents)">{{post.contents}}</textarea>


    </div>
    <button id="submitUpdate" type="submit" class="btn btn-primary my-2 mx-auto">Submit</button>


</section>

<script src="/js/updatePost.js"></script>